{% extends 'animals/base.html' %}

{% block title %}{{ animal.name }}{% endblock %}

{% block content %}
<h1>{{ animal.name }}</h1>
<ul>
    <li>Age: {{ animal.age }} years</li>
    <li>Weight: {{ animal.weight }} kg</li>
    <li>Born in Captivity: {{ animal.born_in_captivity|yesno:"Yes,No" }}</li>
    <li><strong>Date Added:</strong>{{ animal.date_added }}</li>
</ul>
<hr>
<p>
    <a href="{% url 'animals:animal-update' animal.pk %}">Edit this animal</a>
    <a href="{% url 'animals:animal-delete' animal.pk %}" style="color: red;">Delete this animal</a>
</p>
<a href="{% url 'animals:animal-list' %}">Back to list</a>
{% endblock %}